.box1 {
    width:100px;
    height:100px;
    background-color:black;
    color:white;
    
    
    
}
.box2 {
    width:100px;
    height:100px;
    background-color:gray;
    color:white;
    
    
}

.box-move {
    position: relative;
    top:50px;
    right :50px;
}


.main {
    
    display: flex;
  
}




